/* CSS pour aligner le style avec la maquette */
.main {
  background-color: #12002b;
  padding: 2rem;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
}

.header h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

.edit-button {
  border: none;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 1rem;
}

.edit-name-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.edit-name-form input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; /* Ensures consistent input width */
}

.edit-name-form button {
  background-color: #00bc77;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.edit-name-form button:hover {
  background-color: #00965e;
}

.edit-name-form button:last-child {
  background-color: #ccc;
  color: #333;
  margin-left: 0.5rem;
}

.edit-name-form button:last-child:hover {
  background-color: #aaa;
}

.account {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.account h3 {
  color: #2c3e50;
  font-size: 1.5rem;
}

.account .amount {
  font-size: 2.5rem;
  font-weight: bold;
}

.account .description {
  color: #7f8c8d;
  font-size: 1rem;
}

.account .view-transactions {
  background-color: #00bc77;
  color: #fff;
  padding: 10px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
  display: block;
  border-radius: 5px;
}